<form [formGroup]="job">
  <mat-stepper color="accent" orientation="vertical" #stepper>
      <mat-step>
        <ng-template matStepLabel>Disable Auto Upload</ng-template>
        <ng-template matStepContent>
          <mat-checkbox formControlName="disableAutoUpload" class="example-margin">Disable Auto Upload</mat-checkbox>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Post Description</ng-template>
        <ng-template matStepContent>

          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Post Description</mat-label>
            <textarea formControlName="postDescription" matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Editor Video Resolution</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="w-100"  appearance="fill">
            <mat-label>Editor Video Resolution</mat-label>
            <mat-select formControlName="editorVideoResolution" disableRipple>
              <mat-option [value]="null">-</mat-option>
              <mat-option *ngFor="let video of editorVideosResolution" [value]="video">{{video}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Auto Upload TikTok Accounts</ng-template>
        <ng-template matStepContent>

          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Auto Upload TikTok Accounts</mat-label>
            <mat-select formControlName="autoUploadTikTokAccounts" multiple>
              <mat-option *ngFor="let account of autoUploadTikTokAccounts" [value]="account.username">{{account.username}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button matStepperPrevious>Back</button>
        </ng-template>
      </mat-step>
    </mat-stepper>
</form>