<mat-stepper labelPosition="bottom" #stepper>
  <mat-step>
    <ng-template matStepLabel>General</ng-template>
    <ng-template matStepContent>
      <app-general [job]="job"></app-general>
      
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Content</ng-template>
    <ng-template matStepContent>
      <app-content [job]="job"></app-content>
      
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Speech</ng-template>
    <ng-template matStepContent>
      <app-speech [job]="job"></app-speech>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </ng-template>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Audio Background</ng-template>
    <ng-template matStepContent>
      <app-audio-background [job]="job"></app-audio-background>
      
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Video Background</ng-template>
    <ng-template matStepContent>
      <app-video-background [job]="job"></app-video-background>
      
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Text Box</ng-template>
    <ng-template matStepContent>
      <app-text-box [job]="job"></app-text-box>
      
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Upload Settings</ng-template>
    <ng-template matStepContent>
      <app-upload-settings [job]="job"></app-upload-settings>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </ng-template>
  </mat-step>
</mat-stepper>
