<form [formGroup]="job">
  <mat-stepper color="accent" orientation="vertical" #stepper>
      <mat-step>
        <ng-template matStepLabel>Speech Pitch</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Speech Pitch</mat-label>
            <input type="number" formControlName="speechPitch" matInput placeholder="" value="" />
          </mat-form-field>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Speech Speed</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Speech Speed</mat-label>
            <input type="number" formControlName="speechSpeed" matInput placeholder="" value="" />
          </mat-form-field>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Speech Type</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Speech Type</mat-label>
            <input formControlName="speechType" matInput placeholder="" value="" />
          </mat-form-field>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Speech Pause Before In Millis</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Speech Pause Before In Millis</mat-label>
            <input type="number" formControlName="speechPauseBeforeInMillis" matInput placeholder="" value="" />
          </mat-form-field>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Speech Paus After In Millis</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Speech Pause After In Millis</mat-label>
            <input type="number" formControlName="speechPauseAfterInMillis" matInput placeholder="" value="" />
          </mat-form-field>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Speech Language</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Speech Language</mat-label>
            <input formControlName="speechLanguage" matInput placeholder="" value="" />
          </mat-form-field>
          
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
    </mat-stepper>
</form>