<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 class="mat-title-1">Jobs</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <mat-expansion-panel *ngFor="let j of jobs; let poz=index;" [expanded]="true"
        [style.background]="j.disabled ? '#ccc' : '#fff'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{j.name}}
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="row g-0">
          <div class="col-12 col-sm-6">
            <b>{{j.id}}</b>
          </div>

          <div class="col-12 col-sm-6 d-flex justify-content-end">
            <button mat-icon-button routerLink="/jobs/{{j.id}}/videos">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button routerLink="/jobs/{{j.id}}">
              <mat-icon>edit</mat-icon>
            </button>
            <button color="accent" (click)="startJob(j.id)" mat-icon-button>
              <mat-icon>not_started</mat-icon>
            </button>
            <button (click)="deletejob(j.id, poz)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <div class="row g-0">
          <div class="col-12">
            {{j.cron}}
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-card style="margin-bottom: 10px;" *ngFor="let ta of stringToList(j.autoUploadTikTokAccounts)">{{ta}}</mat-card>
          </div>
        </div>
      </mat-expansion-panel>

    </div>
  </div>
</div>


<div class="row g-0">
  <div class="col-12">
    <button style="position: absolute; right: 1rem; bottom: 1rem;" mat-fab color="accent" routerLink="/jobs/add">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
