<form [formGroup]="job">
  <mat-stepper color="accent" orientation="vertical" #stepper>
      <mat-step>
        <ng-template matStepLabel>Text Font Family</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Text Font Family</mat-label>
            <input formControlName="textFontFamily" matInput placeholder="" value="" />
          </mat-form-field>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Text Font Size</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Text Font Size</mat-label>
            <input type="number" formControlName="textFontSize" matInput placeholder="" value="" />
          </mat-form-field>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Text Box Color</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Text Box Color</mat-label>
            <input formControlName="textBoxColor" matInput placeholder="" value="" />
          </mat-form-field>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>


      <mat-step>
        <ng-template matStepLabel>Text Box Opacity</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Text Box Opacity</mat-label>
            <input type="number" formControlName="textBoxOpacity" matInput placeholder="" value="" />
          </mat-form-field>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Tex Box Border Color</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tex Box Border Color</mat-label>
            <input formControlName="texBoxBorderColor" matInput placeholder="" value="" />
          </mat-form-field>
          
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
    </mat-stepper>
</form>