<form [formGroup]="job">
  <mat-stepper color="accent" orientation="vertical" #stepper>
      <mat-step>
        <ng-template matStepLabel>Video Background Resolution</ng-template>
        <ng-template matStepContent>

          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Video Background Resolution</mat-label>
            <mat-select formControlName="videoBackgroundResolution" disableRipple>
              <mat-option *ngFor="let video of videosBackgroundResolution" [value]="video">{{video}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button matStepperPrevious>Back</button>
        </ng-template>
      </mat-step>
    </mat-stepper>
</form>