<form [formGroup]="job">
  <mat-stepper color="accent" orientation="vertical" #stepper>
      <mat-step>
        <ng-template matStepLabel>Video Background Resolution</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Video Background Resolution</mat-label>
            <input formControlName="videoBackgroundResolution" matInput placeholder="" value="" />
          </mat-form-field>
          
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
    </mat-stepper>
</form>